.grid {
    position: relative;
    opacity: 1;
    transition: opacity 0.2s linear 0.2s;
  }
  .grid-1{
    position: relative;
    opacity: 0.25;
    transition: opacity 0.2s linear 0.2s;
  }
  .grid-gallery {
    position: relative;
    opacity: 1;
    transition: opacity 0.2s linear 0.2s;
  }
  .images-loaded .grid {
    opacity: 1;
  }
  .item {
    position: absolute;
    margin: 10px;
    z-index: 1;
    display : block;
    height: 233px;
    width: 233px;
    text-align: center;
    line-height: 233px;
  }
  .project{
    border: 5px solid #000000;
    box-shadow: 10px 10px rgb(0, 0, 0);
    border-radius: 15px;
  }
  .info{
  border: 5px solid #000000;
  height: 55px;
  width: 233px;
  line-height: 55px;
  background: #FF4911;
  box-shadow: 5px 5px rgb(0, 0, 0);
  }
  .small{
    border: 3px dashed rgb(0, 0, 0); 
    height: 55px;
    width: 55px;
    line-height: 55px;
    background: #61DB0D;
    }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item-content {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-style: dashed;
    border: #bbbbbb;
    border-width: 1px;
  }
  .item-content > img {
    display: block;
    border-radius: 1px;
    
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: opacity 0.1s linear 0.2s;
  }
  .images-loaded .loading {
    opacity: 0;
  }
  body{
    position: relative;
    font-family: Ubuntu,"Fira Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px;
    margin-left: 5%;
    margin-right: 5%;
    background:#0DDBA5;
    color: #000000;
    /* background-image: url(/assets/images/bg.svg); */
    background-size: 100px;
 ;
  }
  .subtitle{
    font-size: 12px;
    margin: 15px;
  }
  .container > header h2 {
      display: block;
      font-size: 40px;
      font-weight: 300;
    text-align: center;
  }
  .section-title {
    color: #bbbbbb;
    font-size: 50px;
    font-weight: 700;
    margin: 40px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* image hover effect */
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .middlev {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.9;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  .container:hover .middlev {
    opacity: 1;
  }
  .vertical { 
    /* border-left: 5px solid rgb(255, 255, 255);  */
    transform: rotate(270deg);
    border: 3px solid #000000;
    height: 30px;
    width: 233px;
    line-height: 30px;
    background-color: #ffffff;
    color: #181818;
  } 
  .footer{
    font-size: 10px;
    margin: 15px;

  }
  .title{
    border: 1px dashed rgb(99, 99, 99);
  }
  /* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color:  #E95420;
}

/* selected link */
a:active {
  color:  #E95420;
}
.post{
  border: 5px solid #000000;
  box-shadow: 10px 10px rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width:100%;
  border-radius: 7px;
}
time {
  margin-left: 10%;
}
.filter-buttons {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px;
}

.filter-button {
  background-color: #DBD00D;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000;
  box-shadow: 5px 5px rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #ffffff;

}
.logo:hover{
  color: #000000;
}

.postimage {
  width:250px;
  height:250px;
  border: 3px solid #000000;
}
.highlight{
  font-family: 'Roboto Mono', sans-serif;
  background-color: rgb(51, 47, 47);
  font-size: 18px;
  line-height: 1.8;
  color :#dddddd;
  margin: 5%;
  padding: 10px;
}
.copy-code-button {
  display: block;
  float: right;
  background-color: #adadad;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000;
  box-shadow: 5px 5px rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 0.3s;

}