
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <main>
      <article>{{ content }}</article>
    </main>
    {% include footer.html %}
    <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js'></script>
  <script src="{{ base.url | prepend: site.url }}/assets/js/muuri.min.js"></script>
  <script src="{{ base.url | prepend: site.url }}/assets/js/scripth.js"></script>
  <script src="{{ base.url | prepend: site.url }}/assets/js/copyCode.js"></script>
  </body>
</html>
